/* 全体の基本スタイル */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  margin: 0;
  padding: 0;
}

/* h1タグのスタイル */
h1 {
  font-size: 20px;  /* フォントサイズ */
  color: #132d14;  /* 文字色 */
  text-align: center;  /* 中央揃え */
  margin-top: 10px;  /* 上の余白 */
  margin-bottom: 20px;  /* 下の余白 */
  font-weight: bold;  /* 太字 */
  letter-spacing: 2px;  /* 文字間隔 */
  text-transform: uppercase;  /* 文字を大文字に */
}

/* .text-centerクラスのスタイル */
.text-center {
  text-align: center;  /* 中央揃え */
}

/* ボタンのスタイル */
button {
  background-color: #4CAF50;  /* ボタン背景色 */
  color: white;  /* 文字色 */
  padding: 10px 20px;  /* ボタンの内側余白 */
  border: none;  /* 枠線なし */
  border-radius: 5px;  /* 角を丸く */
  cursor: pointer;  /* ポインタ表示 */
  font-size: 16px;  /* フォントサイズ */
}

button:hover {
  background-color: #45a049;  /* ホバー時の背景色 */
}

/* フォーム要素のスタイル */
input, select {
  padding: 10px;  /* 内側余白 */
  margin: 10px 0;  /* 上下余白 */
  border: 1px solid #ccc;  /* 枠線 */
  border-radius: 5px;  /* 角を丸く */
  width: 100%;  /* 幅を100%に */
}

input[type="submit"] {
  background-color: #4CAF50;  /* サブミットボタンの背景色 */
  color: white;  /* 文字色 */
}

input[type="submit"]:hover {
  background-color: #45a049;  /* ホバー時の背景色 */
}
